---

import {normalizeURL} from '../lib/utils.js';
import {getHeader} from "../lib/api";

const header = await getHeader()

header.topNav.map(normalizeURL);
header.hamburgerNav.map(normalizeURL);

---

<nav>
  <div class="nav-backdrop" onclick="navToggle()"></div>
  <svg onclick="window.location.href='/'" class="nav-logo" style="cursor: pointer" width="121" height="26" viewBox="0 0 121 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_956_2017)">
      <path d="M0.326238 1.45652H4.46333C4.64283 1.45652 4.78957 1.60384 4.78957 1.78726V20.4152C4.78957 20.5972 4.93488 20.7459 5.11581 20.7459H13.4883C13.6678 20.7459 13.8145 20.8933 13.8145 21.0767V24.8418C13.8145 25.0238 13.6692 25.1726 13.4883 25.1726H0.326238C0.146736 25.1726 0 25.0253 0 24.8418V1.78581C0 1.60384 0.145311 1.45508 0.326238 1.45508V1.45652Z" />
      <path d="M13.4541 16.4169C13.4541 11.2652 17.2008 7.40039 22.2169 7.40039C27.233 7.40039 31.0125 11.2652 31.0125 16.4169C31.0125 21.5685 27.233 25.4998 22.2169 25.4998C17.2008 25.4998 13.4541 21.6032 13.4541 16.4169ZM26.062 17.9362V14.9639C26.062 12.4538 24.8568 11.3316 22.2184 11.3316C19.58 11.3316 18.4061 12.487 18.4061 14.9639V17.9362C18.4061 20.4463 19.6441 21.6017 22.2184 21.6017C24.7926 21.6017 26.062 20.4463 26.062 17.9362Z" />
      <path d="M30.6265 7.73145H34.8006C34.9559 7.73145 35.0898 7.84265 35.1198 7.99719L37.6869 20.9752C37.7168 21.1298 37.8507 21.241 38.006 21.241H38.7782C38.932 21.241 39.0645 21.1312 39.0973 20.9781L41.7898 7.9943C41.8212 7.84121 41.9551 7.73145 42.1089 7.73145H46.2517C46.4626 7.73145 46.6179 7.9322 46.568 8.14017L42.5249 24.918C42.4893 25.0654 42.3582 25.1693 42.2087 25.1693H34.6097C34.4587 25.1693 34.3277 25.0654 34.2935 24.9166L30.3131 8.13872C30.2632 7.93075 30.4185 7.73145 30.6294 7.73145H30.6265Z" />
      <path d="M51.0768 17.672C50.8973 17.672 50.7506 17.8193 50.7506 18.0027V18.5977C50.7506 20.91 51.8262 21.8343 54.3663 21.8343C56.7055 21.8343 57.6771 21.3042 57.915 19.7979C57.9406 19.639 58.076 19.5235 58.2355 19.5235H62.1604C62.3854 19.5235 62.5436 19.7502 62.4681 19.9654C61.3668 23.0893 58.1671 25.5012 54.4318 25.5012C49.6422 25.5012 45.8641 21.9007 45.8641 16.6176C45.8641 11.6971 49.4471 7.40332 54.4973 7.40332C59.059 7.40332 62.6746 11.3663 62.6746 16.1223V17.3441C62.6746 17.5261 62.5293 17.6748 62.3484 17.6748H51.0768V17.672ZM50.7506 14.1046V14.2043C50.7506 14.3863 50.8959 14.535 51.0768 14.535H57.462C57.6415 14.535 57.7882 14.3877 57.7882 14.2043C57.7882 11.8256 56.8764 10.9013 54.4332 10.9013C51.8589 10.9013 50.752 11.8588 50.752 14.1046H50.7506Z" />
      <path d="M72.8792 1.45652H77.0163C77.1958 1.45652 77.3426 1.60384 77.3426 1.78726V20.4152C77.3426 20.5972 77.4879 20.7459 77.6688 20.7459H86.0413C86.2208 20.7459 86.3675 20.8933 86.3675 21.0767V24.8418C86.3675 25.0238 86.2222 25.1726 86.0413 25.1726H72.8792C72.6997 25.1726 72.553 25.0253 72.553 24.8418V1.78581C72.553 1.60384 72.6983 1.45508 72.8792 1.45508V1.45652Z" />
      <path d="M87.7338 7.73137H91.7085C91.888 7.73137 92.0347 7.87868 92.0347 8.0621V24.84C92.0347 25.0219 91.8894 25.1707 91.7085 25.1707H87.7338C87.5543 25.1707 87.4075 25.0234 87.4075 24.84V8.06066C87.4075 7.87868 87.5529 7.72992 87.7338 7.72992V7.73137ZM92.4906 3.32496C92.4906 4.88475 91.2426 6.14991 89.704 6.14991C88.1654 6.14991 86.9175 4.88475 86.9175 3.32496C86.9175 1.76516 88.1654 0.5 89.704 0.5C91.2426 0.5 92.4906 1.76516 92.4906 3.32496Z" />
      <path d="M95.7159 11.6607H93.0447C92.8652 11.6607 92.7185 11.5134 92.7185 11.33V8.06018C92.7185 7.87821 92.8638 7.72945 93.0447 7.72945H95.7159C95.8954 7.72945 96.0421 7.58214 96.0421 7.39872V6.60582C96.0421 3.33604 98.4198 1.28809 102.265 1.28809H104.285C104.464 1.28809 104.611 1.4354 104.611 1.61882V4.69074C104.611 4.87272 104.466 5.02148 104.285 5.02148H102.037C101.092 5.02148 100.637 5.51686 100.637 6.37618V7.40016C100.637 7.58214 100.782 7.73089 100.963 7.73089H104.611C104.791 7.73089 104.937 7.87821 104.937 8.06163V11.3314C104.937 11.5134 104.792 11.6621 104.611 11.6621H100.963C100.783 11.6621 100.637 11.8095 100.637 11.9929V24.8409C100.637 25.0229 100.491 25.1717 100.31 25.1717H96.3684C96.1889 25.1717 96.0421 25.0244 96.0421 24.8409V11.9929C96.0421 11.8109 95.8968 11.6621 95.7159 11.6621V11.6607Z" />
      <path d="M109.236 17.672C109.056 17.672 108.909 17.8193 108.909 18.0027V18.5977C108.909 20.91 109.985 21.8343 112.525 21.8343C114.864 21.8343 115.836 21.3042 116.074 19.7979C116.099 19.639 116.235 19.5235 116.394 19.5235H120.319C120.544 19.5235 120.702 19.7502 120.627 19.9654C119.526 23.0893 116.326 25.5012 112.59 25.5012C107.801 25.5012 104.023 21.9007 104.023 16.6176C104.023 11.6971 107.606 7.40332 112.656 7.40332C117.218 7.40332 120.833 11.3663 120.833 16.1223V17.3441C120.833 17.5261 120.688 17.6748 120.507 17.6748H109.236V17.672ZM108.909 14.1046V14.2043C108.909 14.3863 109.055 14.535 109.236 14.535H115.621C115.8 14.535 115.947 14.3877 115.947 14.2043C115.947 11.8256 115.035 10.9013 112.592 10.9013C110.018 10.9013 108.911 11.8588 108.911 14.1046H108.909Z" />
      <path d="M67.5825 25.4995C69.1214 25.4995 70.369 24.2347 70.369 22.6746C70.369 21.1144 69.1214 19.8496 67.5825 19.8496C66.0435 19.8496 64.7959 21.1144 64.7959 22.6746C64.7959 24.2347 66.0435 25.4995 67.5825 25.4995Z" />
    </g>
    <defs>
      <clipPath id="clip0_956_2017">
        <rect width="120.833" height="25"  transform="translate(0 0.5)"/>
      </clipPath>
    </defs>
  </svg>

  <div class="nav-space"></div>
  <ul>
    {header.hamburgerNav.map((item) => (
      <li class=""><a href={item?.link.url} title={item.link.label} target={(item.link.newTab !== true) ? '_self' : '_blank'}
        title={item.link.label}>{item.link.label}</a></li>
    ))}
    {header.topNav.map((item) => (
      <li class="show-collapsed"><a href={item?.link.url} title={item.link.label} target={(item?.link.newTab !== true) ? '_self' : '_blank'}>{item.link.label}</a></li>
    ))}
    <li class="show-collapsed show-mobile"><a href={header.loginUrl} title="Login" target="_blank"><img src="/img/account.svg" alt="Account" /><span>Login</span></a></li>
  </ul>
  <img class="nav-toggle nav-open" src="/img/bars.svg" onclick="navToggle()" alt="Show navigation" />
  <img class="nav-toggle nav-close" src="/img/x.svg" onclick="navToggle()" alt="Close menu" />
</nav>

<script is:inline>

// nav toggle
let navToggle = ()=> {
    const nav = document.querySelector('nav');
    nav.classList.toggle('nav-expanded');

    const body = document.querySelector('body');
    body.classList.toggle('no-scroll');
}

window.onscroll = function() {
  stickyHeader();
};

function stickyHeader() {
  const el = document.querySelector('nav');

  if (window.scrollY > 10) {
    el.classList.add('nav-sticky');
  } else {
    el.classList.remove('nav-sticky');
  }
}

</script>
